<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.earlyou.aom.mapper.ContactMapper">

	<select id="select" parameterType="int" resultType="contactVO">
		SELECT * FROM cont
		WHERE ctsn=#{ctsn}
	</select>
	<select id="selectall" resultType="contactVO">
		SELECT * FROM cont
	</select>
	<insert id="insert" parameterType="contactVO">
		INSERT INTO cont VALUES (DEFAULT,#{ctid},#{ctpw},#{ctnm},#{ctem},#{ctcc},#{ctpn},#{ctmg},DEFAULT,NULL)
	</insert>
	<update id="update" parameterType="contactVO">
		UPDATE cont SET ctdd=CURRENT_TIMESTAMP() WHERE ctsn=#{ctsn};
		INSERT INTO cont VALUES (DEFAULT,#{ctid},#{ctpw},#{ctnm},#{ctem},#{ctcc},#{ctpn},#{ctmg},DEFAULT,NULL)
	</update>
	<delete id="delete" parameterType="int">
		UPDATE cont SET ctdd=CURRENT_TIMESTAMP() WHERE ctsn=#{ctsn}
	</delete>
	
</mapper>