<header class="mb-3">
	<a href="#" class="burger-btn d-block d-xl-none">
		<i class="bi bi-justify fs-3"></i>
	</a>
</header>

<div class="page-heading">
	<h3>System Performance</h3>
</div>
<div class="page-content">
	<section class="row">
		<div class="col-12 col-lg-12">

			<div class="row">
				<div class="col-12 col-xl-6">
					<div class="card">
						<div class="card-header">
							<h4>CPU Usage</h4>
						</div>
						<div class="card-body">
							<canvas id="cpu-usage"></canvas>
						</div>
					</div>
				</div>
				<div class="col-12 col-xl-6">
					<div class="card">
						<div class="card-header">
							<h4>Memory Usage</h4>
						</div>
						<div class="card-body">
							<canvas id="memory-usage"></canvas>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-12 col-xl-8">
					<div class="card">
						<div class="card-header">
							<h4>Latest Comments</h4>
						</div>
						<div class="card-body">
							<div class="table-responsive">
								<table class="table table-hover table-lg">
									<thead>
										<tr>
											<th>Name</th>
											<th>Comment</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td class="col-3">
												<div class="d-flex align-items-center">
													<div class="avatar avatar-md">
														<img src="./assets/compiled/jpg/5.jpg" />
													</div>
													<p class="font-bold ms-3 mb-0">Si Cantik</p>
												</div>
											</td>
											<td class="col-auto">
												<p class="mb-0">
													Congratulations on your graduation!
												</p>
											</td>
										</tr>
										<tr>
											<td class="col-3">
												<div class="d-flex align-items-center">
													<div class="avatar avatar-md">
														<img src="./assets/compiled/jpg/2.jpg" />
													</div>
													<p class="font-bold ms-3 mb-0">Si Ganteng</p>
												</div>
											</td>
											<td class="col-auto">
												<p class="mb-0">
													Wow amazing design! Can you make another
													tutorial for this design?
												</p>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>

<footer th:replace="~{footer}"></footer>

<script src="assets/static/js/components/dark.js"></script>
<script src="assets/extensions/perfect-scrollbar/perfect-scrollbar.min.js"></script>

<script src="assets/compiled/js/app.js"></script>

<!-- Chart.js -->
<script src="https://cdn.jsdelivr.net/npm/chart.js@4.3.0/dist/chart.umd.min.js"></script>

<script th:inline="javascript">
    var totmem = /*[[${totmem}]]*/0.0;
</script>
<script src="assets/static/js/pages/performance.js"></script>