<header class="mb-3">
	<a href="#" class="burger-btn d-block d-xl-none">
		<i class="bi bi-justify fs-3"></i>
	</a>
</header>

<div class="page-heading">
	<h3>System Performance</h3>
</div>
<div class="page-content">
	<section class="row">
		<div class="col-12 col-lg-12">

			<div class="row">
				<div class="col-12 col-xl-6">
					<div class="card">
						<div class="card-header">
							<h4>CPU Usage</h4>
						</div>
						<div class="card-body">
							<canvas id="cpu-usage"></canvas>
						</div>
					</div>
				</div>
				<div class="col-12 col-xl-6">
					<div class="card">
						<div class="card-header">
							<h4>Memory Usage</h4>
						</div>
						<div class="card-body">
							<canvas id="memory-usage"></canvas>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-12 col-xl-12">
					<div class="card">
						<div class="card-header">
							<h4>Driver Usage</h4>
						</div>
						<div class="card-body">
							<canvas id="storage-usage"></canvas>
						</div>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="col-12 col-xl-6">
					<div class="card">
						<div class="card-header">
							<h4>Temperature</h4>
						</div>
						<div class="card-body">
							<canvas id="cpu-temperature" height="300px"></canvas>
						</div>
					</div>
				</div>
				<div class="col-12 col-xl-6">
					<div class="card">
						<div class="card-header">
							<h4>Fan Speed</h4>
						</div>
						<div class="card-body">
							<canvas id="fan-speed"></canvas>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>

<footer th:replace="~{footer}"></footer>

<script src="assets/static/js/components/dark.js"></script>
<script src="assets/extensions/perfect-scrollbar/perfect-scrollbar.min.js"></script>

<script src="assets/compiled/js/app.js"></script>

<!-- Chart.js -->
<script src="https://cdn.jsdelivr.net/npm/chart.js@4.3.0/dist/chart.umd.min.js"></script>

<script th:inline="javascript">
	/*<![CDATA[*/
	var totmem = /*[[${totmem}]]*/0.0;
	var fslist = /*[[${fslist}]]*/null;
    /*]]>*/
</script>
<script src="assets/static/js/pages/performance.js"></script>