<!-- Interactive Markers using HTML and CSS -->
<script src="https://use.fontawesome.com/releases/v6.2.0/js/all.js"></script>

<!-- Marker Clustering -->
<script src="https://unpkg.com/@googlemaps/markerclusterer/dist/index.min.js"></script>

<link rel="stylesheet" href="./assets/compiled/css/gmap.css" />

<header class="mb-3">
	<a href="#" class="burger-btn d-block d-xl-none">
		<i class="bi bi-justify fs-3"></i>
	</a>
</header>

<div class="page-heading">
	<div class="page-title">
		<div class="row">
			<div class="col-12 col-md-6 order-md-1 order-last">
				<h3>Google Maps</h3>
			</div>
			<div class="col-12 col-md-6 order-md-2 order-first">
				<nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
					<ol class="breadcrumb">
						<li class="breadcrumb-item">
							<a href="/">Dashboard</a>
						</li>
						<li class="breadcrumb-item active" aria-current="page">
							Maps
						</li>
					</ol>
				</nav>
			</div>
		</div>
	</div>
</div>

<div class="page-content">
	<section id="basic-modals">
		<div class="row">

			<!-- Google Simple Map -->
			<div class="col-md-6 col-12">
				<div class="card">
					<div class="card-header">
						<h4 class="card-title">Simple Map</h4>
					</div>
					<div class="card-content">
						<div class="card-body">
							<p>This is the Google Simple Map</p>
							<p><a
									href="https://developers.google.com/maps/documentation/javascript/examples/map-simple">documentation</a>
							</p>
							<!-- button trigger for  Vertically Centered modal -->
							<button type="button" class="btn btn-outline-primary block" data-bs-toggle="modal"
								data-bs-target="#simpleGoogleMap">
								Launch Simple Map
							</button>

							<!-- Google Simple Map Modal -->
							<div class="modal fade text-left w-100" id="simpleGoogleMap" tabindex="-1" role="dialog"
								aria-labelledby="simpleGoogleMapTitle" aria-hidden="true">
								<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl"
									role="document">
									<div class="modal-content">
										<div class="modal-header">
											<h5 class="modal-title" id="simpleGoogleMapTitle">
												Simple Google Map
											</h5>
											<button type="button" class="close" data-bs-dismiss="modal"
												aria-label="Close">
												<i data-feather="x"></i>
											</button>
										</div>
										<div class="modal-body">
											<div id="simplemap" class="map"></div>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-light-secondary"
												data-bs-dismiss="modal">
												<i class="bx bx-x d-block d-sm-none"></i>
												<span class="d-none d-sm-block">Close</span>
											</button>
											<button type="button" class="btn btn-primary ms-1" data-bs-dismiss="modal">
												<i class="bx bx-check d-block d-sm-none"></i>
												<span class="d-none d-sm-block">Accept</span>
											</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Google Geolocation Map -->
			<div class="col-md-6 col-12">
				<div class="card">
					<div class="card-header">
						<h4 class="card-title">Geolocation</h4>
					</div>
					<div class="card-content">
						<div class="card-body">
							<p>This is the Geolocation Map</p>
							<p><a
									href="https://developers.google.com/maps/documentation/javascript/examples/map-geolocation">documentation</a>
							</p>
							<!-- button trigger for  Vertically Centered modal -->
							<button type="button" class="btn btn-outline-success" data-bs-toggle="modal"
								data-bs-target="#geolocationGoogleMap">
								Launch Geolocation Map
							</button>

							<!-- Google Coordinates Map Modal -->
							<div class="modal fade text-left w-100" id="geolocationGoogleMap" tabindex="-1"
								role="dialog" aria-labelledby="geolocationGoogleMapTitle" aria-hidden="true">
								<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl"
									role="document">
									<div class="modal-content">
										<div class="modal-header bg-successr">
											<h5 class="modal-title white" id="geolocationGoogleMapTitle">
												Geolocation
											</h5>
											<button type="button" class="close" data-bs-dismiss="modal"
												aria-label="Close">
												<i data-feather="x"></i>
											</button>
										</div>
										<div class="modal-body">
											<div id="geolocation" class="map"></div>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-light-secondary"
												data-bs-dismiss="modal">
												<i class="bx bx-x d-block d-sm-none"></i>
												<span class="d-none d-sm-block">Close</span>
											</button>
											<button type="button" class="btn btn-success ms-1" data-bs-dismiss="modal">
												<i class="bx bx-check d-block d-sm-none"></i>
												<span class="d-none d-sm-block">Accept</span>
											</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Google Advanced Marker Map -->
			<div class="col-md-6 col-12">
				<div class="card">
					<div class="card-header">
						<h4 class="card-title">Simple Advanced Marker</h4>
					</div>
					<div class="card-content">
						<div class="card-body">
							<p>This is the Simple Advanced Marker</p>
							<p><a
									href="https://developers.google.com/maps/documentation/javascript/examples/advanced-markers-simple">documentation</a>
							</p>
							<!-- button trigger for  Vertically Centered modal -->
							<button type="button" class="btn btn-outline-danger" data-bs-toggle="modal"
								data-bs-target="#advancedmarkerGoogleMap">
								Launch Simple Advanced Marker Map
							</button>

							<!-- Google Advanced Marker Map Modal -->
							<div class="modal fade text-left w-100" id="advancedmarkerGoogleMap" tabindex="-1"
								role="dialog" aria-labelledby="advancedmarkerGoogleMapTitle" aria-hidden="true">
								<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl"
									role="document">
									<div class="modal-content">
										<div class="modal-header bg-danger">
											<h5 class="modal-title white" id="advancedmarkerGoogleMapTitle">
												Simple Advanced Marker
											</h5>
											<button type="button" class="close" data-bs-dismiss="modal"
												aria-label="Close">
												<i data-feather="x"></i>
											</button>
										</div>
										<div class="modal-body">
											<div id="advancedmarker" class="map"></div>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-light-secondary"
												data-bs-dismiss="modal">
												<i class="bx bx-x d-block d-sm-none"></i>
												<span class="d-none d-sm-block">Close</span>
											</button>
											<button type="button" class="btn btn-danger ms-1" data-bs-dismiss="modal">
												<i class="bx bx-check d-block d-sm-none"></i>
												<span class="d-none d-sm-block">Accept</span>
											</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Google Map Interacive Markers using HTML and CSS -->
			<div class="col-md-6 col-12">
				<div class="card">
					<div class="card-header">
						<h4 class="card-title">Interacive Markers using HTML and CSS</h4>
					</div>
					<div class="card-content">
						<div class="card-body">
							<p>This is the Interacive Markers using HTML and CSS</p>
							<p><a
									href="https://developers.google.com/maps/documentation/javascript/examples/advanced-markers-html">documentation</a>
							</p>
							<!-- button trigger for  Vertically Centered modal -->
							<button type="button" class="btn btn-outline-info" data-bs-toggle="modal"
								data-bs-target="#interactivemarkerGoogleMap">
								Launch Interactive Marker Map
							</button>

							<!-- Google Interacive Markers using HTML and CSS Modal -->
							<div class="modal fade text-left w-100" id="interactivemarkerGoogleMap" tabindex="-1"
								role="dialog" aria-labelledby="interacitvemarkerGoogleMapTitle" aria-hidden="true">
								<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl"
									role="document">
									<div class="modal-content">
										<div class="modal-header bg-info">
											<h5 class="modal-title white" id="interacitvemarkerGoogleMapTitle">
												Interacive Markers using HTML and CSS
											</h5>
											<button type="button" class="close" data-bs-dismiss="modal"
												aria-label="Close">
												<i data-feather="x"></i>
											</button>
										</div>
										<div class="modal-body">
											<div id="interactivemarker" class="map"></div>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-light-secondary"
												data-bs-dismiss="modal">
												<i class="bx bx-x d-block d-sm-none"></i>
												<span class="d-none d-sm-block">Close</span>
											</button>
											<button type="button" class="btn btn-info ms-1" data-bs-dismiss="modal">
												<i class="bx bx-check d-block d-sm-none"></i>
												<span class="d-none d-sm-block">Accept</span>
											</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Google Map Marker Clustering -->
			<div class="col-md-6 col-12">
				<div class="card">
					<div class="card-header">
						<h4 class="card-title">Marker Clustering</h4>
					</div>
					<div class="card-content">
						<div class="card-body">
							<p>This is the Marker Clustering</p>
							<p><a
									href="https://developers.google.com/maps/documentation/javascript/examples/marker-clustering">documentation</a>
							</p>
							<!-- button trigger for  Vertically Centered modal -->
							<button type="button" class="btn btn-outline-warning" data-bs-toggle="modal"
								data-bs-target="#markerclusteringGoogleMap">
								Launch Marker Clustering Map
							</button>

							<!-- Google Interacive Markers using HTML and CSS Modal -->
							<div class="modal fade text-left w-100" id="markerclusteringGoogleMap" tabindex="-1"
								role="dialog" aria-labelledby="markerclusteringGoogleMapTitle" aria-hidden="true">
								<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl"
									role="document">
									<div class="modal-content">
										<div class="modal-header bg-warning">
											<h5 class="modal-title white" id="markerclusteringGoogleMapTitle">
												Marker Clustering
											</h5>
											<button type="button" class="close" data-bs-dismiss="modal"
												aria-label="Close">
												<i data-feather="x"></i>
											</button>
										</div>
										<div class="modal-body">
											<div id="markerclustering" class="map"></div>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-light-secondary"
												data-bs-dismiss="modal">
												<i class="bx bx-x d-block d-sm-none"></i>
												<span class="d-none d-sm-block">Close</span>
											</button>
											<button type="button" class="btn btn-warning ms-1" data-bs-dismiss="modal">
												<i class="bx bx-check d-block d-sm-none"></i>
												<span class="d-none d-sm-block">Accept</span>
											</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Google Map markers clickable and accessible -->
			<div class="col-md-6 col-12">
				<div class="card">
					<div class="card-header">
						<h4 class="card-title">Markers Clickable and Accessible</h4>
					</div>
					<div class="card-content">
						<div class="card-body">
							<p>This is the Markers Clickable and Accessible</p>
							<p><a
									href="https://developers.google.com/maps/documentation/javascript/examples/advanced-markers-accessibility">documentation</a>
							</p>
							<!-- button trigger for  Vertically Centered modal -->
							<button type="button" class="btn btn-outline-dark" data-bs-toggle="modal"
								data-bs-target="#accessibleGoogleMap">
								Launch Marker Clustering Map
							</button>

							<!-- Google Interacive Markers using HTML and CSS Modal -->
							<div class="modal fade text-left w-100" id="accessibleGoogleMap" tabindex="-1" role="dialog"
								aria-labelledby="accessibleGoogleMapTitle" aria-hidden="true">
								<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl"
									role="document">
									<div class="modal-content">
										<div class="modal-header bg-dark">
											<h5 class="modal-title white" id="accessibleGoogleMapTitle">
												Marker Clustering
											</h5>
											<button type="button" class="close" data-bs-dismiss="modal"
												aria-label="Close">
												<i data-feather="x"></i>
											</button>
										</div>
										<div class="modal-body">
											<div id="accessible" class="map"></div>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-light-secondary"
												data-bs-dismiss="modal">
												<i class="bx bx-x d-block d-sm-none"></i>
												<span class="d-none d-sm-block">Close</span>
											</button>
											<button type="button" class="btn btn-dark ms-1" data-bs-dismiss="modal">
												<i class="bx bx-check d-block d-sm-none"></i>
												<span class="d-none d-sm-block">Accept</span>
											</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</section>
	<!-- Basic Modals end -->
</div>
<footer th:replace="~{footer}"></footer>

<script>
	(g => {var h, a, k, p = "The Google Maps JavaScript API", c = "google", l = "importLibrary", q = "__ib__", m = document, b = window; b = b[c] || (b[c] = {}); var d = b.maps || (b.maps = {}), r = new Set, e = new URLSearchParams, u = () => h || (h = new Promise(async (f, n) => {await (a = m.createElement("script")); e.set("libraries", [...r] + ""); for (k in g) e.set(k.replace(/[A-Z]/g, t => "_" + t[0].toLowerCase()), g[k]); e.set("callback", c + ".maps." + q); a.src = `https://maps.${c}apis.com/maps/api/js?` + e; d[q] = f; a.onerror = () => h = n(Error(p + " could not load.")); a.nonce = m.querySelector("script[nonce]")?.nonce || ""; m.head.append(a)})); d[l] ? console.warn(p + " only loads once. Ignoring:", g) : d[l] = (f, ...n) => r.add(f) && u().then(() => d[l](f, ...n))})({
		key: "AIzaSyDE7iLjlPQBUAxlbjlB-b_zapkJKmD2nDQ",
		v: "weekly",
		// Use the 'v' parameter to indicate the version to use (weekly, beta, alpha, etc.).
		// Add other bootstrap parameters as needed, using camel case.
	});
</script>
<script src="assets/static/js/pages/gmap.js"></script>