<script type="text/javascript"
	src="//dapi.kakao.com/v2/maps/sdk.js?appkey=cd8a8e58779dc52947b1a9a342fd0506&libraries=services,clusterer,drawing"></script>

<style>
	.map {
		width: 100%;
		height: 500px;
		margin: auto;
	}

	/** Custom Overlay */
	.wrap {
		position: absolute;
		left: 0;
		bottom: 40px;
		width: 288px;
		height: 132px;
		margin-left: -144px;
		text-align: left;
		overflow: hidden;
		font-size: 12px;
		font-family: 'Malgun Gothic', dotum, '돋움', sans-serif;
		line-height: 1.5;
	}

	.wrap * {
		padding: 0;
		margin: 0;
	}

	.wrap .info {
		width: 286px;
		height: 120px;
		border-radius: 5px;
		border-bottom: 2px solid #ccc;
		border-right: 1px solid #ccc;
		overflow: hidden;
		background: #fff;
	}

	.wrap .info:nth-child(1) {
		border: 0;
		box-shadow: 0px 1px 2px #888;
	}

	.info .title {
		padding: 5px 0 0 10px;
		height: 30px;
		background: #eee;
		border-bottom: 1px solid #ddd;
		font-size: 18px;
		font-weight: bold;
	}

	.info .close {
		position: absolute;
		top: 10px;
		right: 10px;
		color: #888;
		width: 17px;
		height: 17px;
		background: url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/overlay_close.png');
	}

	.info .close:hover {
		cursor: pointer;
	}

	.info .body {
		position: relative;
		overflow: hidden;
	}

	.info .desc {
		position: relative;
		margin: 13px 0 0 90px;
		height: 75px;
	}

	.desc .ellipsis {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	.desc .jibun {
		font-size: 11px;
		color: #888;
		margin-top: -2px;
	}

	.info .img {
		position: absolute;
		top: 6px;
		left: 5px;
		width: 73px;
		height: 71px;
		border: 1px solid #ddd;
		color: #888;
		overflow: hidden;
	}

	.info:after {
		content: '';
		position: absolute;
		margin-left: -12px;
		left: 50%;
		bottom: 0;
		width: 22px;
		height: 12px;
		background: url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png')
	}

	.info .link {
		color: #5085BB;
	}
</style>

<header class="mb-3">
	<a href="#" class="burger-btn d-block d-xl-none">
		<i class="bi bi-justify fs-3"></i>
	</a>
</header>

<div class="page-heading">
	<div class="page-title">
		<div class="row">
			<div class="col-12 col-md-6 order-md-1 order-last">
				<h3>Kakao Maps</h3>
			</div>
			<div class="col-12 col-md-6 order-md-2 order-first">
				<nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
					<ol class="breadcrumb">
						<li class="breadcrumb-item">
							<a href="/">Dashboard</a>
						</li>
						<li class="breadcrumb-item active" aria-current="page">
							Maps
						</li>
					</ol>
				</nav>
			</div>
		</div>
	</div>
</div>

<div class="page-content">
	<section id="basic-modals">
		<div class="row">

			<!-- Kakao Simple Map -->
			<div class="col-md-6 col-12">
				<div class="card">
					<div class="card-header">
						<h4 class="card-title">Simple Map</h4>
					</div>
					<div class="card-content">
						<div class="card-body">
							<p>This is the Kakao Simple Map</p>
							<p><a href="https://apis.map.kakao.com/web/sample/basicMap/">documentation</a>
							</p>
							<!-- button trigger for  Vertically Centered modal -->
							<button type="button" class="btn btn-outline-primary block" data-bs-toggle="modal"
								data-bs-target="#simpleKakaoMap">
								Launch Simple Map
							</button>

							<!-- Kakao Simple Map Modal -->
							<div class="modal fade text-left w-100" id="simpleKakaoMap" tabindex="-1" role="dialog"
								aria-labelledby="simpleKakaoMapTitle" aria-hidden="true">
								<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl"
									role="document">
									<div class="modal-content">
										<div class="modal-header">
											<h5 class="modal-title" id="simpleKakaoMapTitle">
												Simple Kakao Map
											</h5>
											<button type="button" class="close" data-bs-dismiss="modal"
												aria-label="Close">
												<i data-feather="x"></i>
											</button>
										</div>
										<div class="modal-body">
											<div id="simplemap" class="map"></div>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-light-secondary"
												data-bs-dismiss="modal">
												<i class="bx bx-x d-block d-sm-none"></i>
												<span class="d-none d-sm-block">Close</span>
											</button>
											<button type="button" class="btn btn-primary ms-1" data-bs-dismiss="modal">
												<i class="bx bx-check d-block d-sm-none"></i>
												<span class="d-none d-sm-block">Accept</span>
											</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Kakao Geolocation Map -->
			<div class="col-md-6 col-12">
				<div class="card">
					<div class="card-header">
						<h4 class="card-title">Geolocation</h4>
					</div>
					<div class="card-content">
						<div class="card-body">
							<p>This is the Geolocation Map</p>
							<p><a href="https://apis.map.kakao.com/web/sample/geolocationMarker/">documentation</a>
							</p>
							<!-- button trigger for  Vertically Centered modal -->
							<button type="button" class="btn btn-outline-success" data-bs-toggle="modal"
								data-bs-target="#geolocationKakaoMap">
								Launch Geolocation Map
							</button>

							<!-- Kakao Geolocation Map Modal -->
							<div class="modal fade text-left w-100" id="geolocationKakaoMap" tabindex="-1" role="dialog"
								aria-labelledby="geolocationKakaoMapTitle" aria-hidden="true">
								<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl"
									role="document">
									<div class="modal-content">
										<div class="modal-header bg-success">
											<h5 class="modal-title white" id="geolocationKakaoMapTitle">
												Geolocation
											</h5>
											<button type="button" class="close" data-bs-dismiss="modal"
												aria-label="Close">
												<i data-feather="x"></i>
											</button>
										</div>
										<div class="modal-body">
											<div id="geolocation" class="map"></div>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-light-secondary"
												data-bs-dismiss="modal">
												<i class="bx bx-x d-block d-sm-none"></i>
												<span class="d-none d-sm-block">Close</span>
											</button>
											<button type="button" class="btn btn-success ms-1" data-bs-dismiss="modal">
												<i class="bx bx-check d-block d-sm-none"></i>
												<span class="d-none d-sm-block">Accept</span>
											</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Kakao Simple Marker Map -->
			<div class="col-md-6 col-12">
				<div class="card">
					<div class="card-header">
						<h4 class="card-title">Simple Marker</h4>
					</div>
					<div class="card-content">
						<div class="card-body">
							<p>This is the Simple Marker</p>
							<p><a href="https://apis.map.kakao.com/web/sample/basicMarker/">documentation</a>
							</p>
							<!-- button trigger for  Vertically Centered modal -->
							<button type="button" class="btn btn-outline-danger" data-bs-toggle="modal"
								data-bs-target="#simplemarkerKakaoMap">
								Launch Simple Marker Map
							</button>

							<!-- Kakao Simple Marker Map Modal -->
							<div class="modal fade text-left w-100" id="simplemarkerKakaoMap" tabindex="-1"
								role="dialog" aria-labelledby="simplemarkerKakaoMapTitle" aria-hidden="true">
								<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl"
									role="document">
									<div class="modal-content">
										<div class="modal-header bg-danger">
											<h5 class="modal-title white" id="simplemarkerKakaoMapTitle">
												Simple Marker
											</h5>
											<button type="button" class="close" data-bs-dismiss="modal"
												aria-label="Close">
												<i data-feather="x"></i>
											</button>
										</div>
										<div class="modal-body">
											<div id="simplemarker" class="map"></div>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-light-secondary"
												data-bs-dismiss="modal">
												<i class="bx bx-x d-block d-sm-none"></i>
												<span class="d-none d-sm-block">Close</span>
											</button>
											<button type="button" class="btn btn-danger ms-1" data-bs-dismiss="modal">
												<i class="bx bx-check d-block d-sm-none"></i>
												<span class="d-none d-sm-block">Accept</span>
											</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Kakao Map Custom Overlay -->
			<div class="col-md-6 col-12">
				<div class="card">
					<div class="card-header">
						<h4 class="card-title">Custom Overlay</h4>
					</div>
					<div class="card-content">
						<div class="card-body">
							<p>This is the Custom Overlay</p>
							<p><a href="https://apis.map.kakao.com/web/sample/removableCustomOverlay/">documentation</a>
							</p>
							<!-- button trigger for  Vertically Centered modal -->
							<button type="button" class="btn btn-outline-info" data-bs-toggle="modal"
								data-bs-target="#customoverlayKakaoMap">
								Launch Custom Overlay Map
							</button>

							<!-- Kakao Custom Overlay Modal -->
							<div class="modal fade text-left w-100" id="customoverlayKakaoMap" tabindex="-1"
								role="dialog" aria-labelledby="customoverlayKakaoMapTitle" aria-hidden="true">
								<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl"
									role="document">
									<div class="modal-content">
										<div class="modal-header bg-info">
											<h5 class="modal-title white" id="customoverlayKakaoMapTitle">
												Custom Overlay
											</h5>
											<button type="button" class="close" data-bs-dismiss="modal"
												aria-label="Close">
												<i data-feather="x"></i>
											</button>
										</div>
										<div class="modal-body">
											<div id="customoverlay" class="map"></div>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-light-secondary"
												data-bs-dismiss="modal">
												<i class="bx bx-x d-block d-sm-none"></i>
												<span class="d-none d-sm-block">Close</span>
											</button>
											<button type="button" class="btn btn-info ms-1" data-bs-dismiss="modal">
												<i class="bx bx-check d-block d-sm-none"></i>
												<span class="d-none d-sm-block">Accept</span>
											</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Kakao Map Marker Cluster -->
			<div class="col-md-6 col-12">
				<div class="card">
					<div class="card-header">
						<h4 class="card-title">Marker Cluster</h4>
					</div>
					<div class="card-content">
						<div class="card-body">
							<p>This is the Marker Cluster</p>
							<p><a href="https://apis.map.kakao.com/web/sample/basicClusterer/">documentation</a>
							</p>
							<!-- button trigger for  Vertically Centered modal -->
							<button type="button" class="btn btn-outline-warning" data-bs-toggle="modal"
								data-bs-target="#markerclusterKakaoMap">
								Launch Marker Cluster Map
							</button>

							<!-- Kakao Marker Cluster -->
							<div class="modal fade text-left w-100" id="markerclusterKakaoMap" tabindex="-1"
								role="dialog" aria-labelledby="markerclusterKakaoMapTitle" aria-hidden="true">
								<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl"
									role="document">
									<div class="modal-content">
										<div class="modal-header bg-warning">
											<h5 class="modal-title white" id="markerclusterKakaoMapTitle">
												Marker Cluster
											</h5>
											<button type="button" class="close" data-bs-dismiss="modal"
												aria-label="Close">
												<i data-feather="x"></i>
											</button>
										</div>
										<div class="modal-body">
											<div id="markercluster" class="map"></div>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-light-secondary"
												data-bs-dismiss="modal">
												<i class="bx bx-x d-block d-sm-none"></i>
												<span class="d-none d-sm-block">Close</span>
											</button>
											<button type="button" class="btn btn-warning ms-1" data-bs-dismiss="modal">
												<i class="bx bx-check d-block d-sm-none"></i>
												<span class="d-none d-sm-block">Accept</span>
											</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Kakao Map marker event -->
			<div class="col-md-6 col-12">
				<div class="card">
					<div class="card-header">
						<h4 class="card-title">Markers Events</h4>
					</div>
					<div class="card-content">
						<div class="card-body">
							<p>This is the Markers Events</p>
							<p><a href="https://apis.map.kakao.com/web/sample/multipleMarkerEvent2/">documentation</a>
							</p>
							<!-- button trigger for  Vertically Centered modal -->
							<button type="button" class="btn btn-outline-dark" data-bs-toggle="modal"
								data-bs-target="#markereventKakaoMap">
								Launch Marker Event Map
							</button>

							<!-- Google Interacive Markers using HTML and CSS Modal -->
							<div class="modal fade text-left w-100" id="markereventKakaoMap" tabindex="-1" role="dialog"
								aria-labelledby="markereventKakaoMapTitle" aria-hidden="true">
								<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl"
									role="document">
									<div class="modal-content">
										<div class="modal-header bg-dark">
											<h5 class="modal-title white" id="markereventKakaoMapTitle">
												Marker Events
											</h5>
											<button type="button" class="close" data-bs-dismiss="modal"
												aria-label="Close">
												<i data-feather="x"></i>
											</button>
										</div>
										<div class="modal-body">
											<div id="markerevent" class="map"></div>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-light-secondary"
												data-bs-dismiss="modal">
												<i class="bx bx-x d-block d-sm-none"></i>
												<span class="d-none d-sm-block">Close</span>
											</button>
											<button type="button" class="btn btn-dark ms-1" data-bs-dismiss="modal">
												<i class="bx bx-check d-block d-sm-none"></i>
												<span class="d-none d-sm-block">Accept</span>
											</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</section>
	<!-- Basic Modals end -->
</div>
<footer th:replace="~{footer}"></footer>


<script src="assets/static/js/pages/kmap.js"></script>