<script type="text/javascript" src="https://oapi.map.naver.com/openapi/v3/maps.js?ncpClientId=k2m17um64o"></script>

<!-- Marker Cluster -->
<script type="text/javascript" src="download/web/data/accidentdeath.js"></script>
<script type="text/javascript" src="download/web/src/MarkerClustering.js"></script>
<style>
	.map {
		height: 500px;
		width: 100%;
		margin: auto;
	}
</style>

<header class="mb-3">
	<a href="#" class="burger-btn d-block d-xl-none">
		<i class="bi bi-justify fs-3"></i>
	</a>
</header>

<div class="page-heading">
	<div class="page-title">
		<div class="row">
			<div class="col-12 col-md-6 order-md-1 order-last">
				<h3>Naver Maps</h3>
			</div>
			<div class="col-12 col-md-6 order-md-2 order-first">
				<nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
					<ol class="breadcrumb">
						<li class="breadcrumb-item">
							<a href="/">Dashboard</a>
						</li>
						<li class="breadcrumb-item active" aria-current="page">
							Maps
						</li>
					</ol>
				</nav>
			</div>
		</div>
	</div>
</div>

<div class="page-content">
	<section id="basic-modals">
		<div class="row">

			<!-- Naver Simple Map -->
			<div class="col-md-6 col-12">
				<div class="card">
					<div class="card-header">
						<h4 class="card-title">Simple Map</h4>
					</div>
					<div class="card-content">
						<div class="card-body">
							<p>This is the Naver Simple Map</p>
							<p><a
									href="https://navermaps.github.io/maps.js.ncp/docs/tutorial-1-map-simple.example.html">documentation</a>
							</p>
							<!-- button trigger for  Vertically Centered modal -->
							<button type="button" class="btn btn-outline-primary block" data-bs-toggle="modal"
								data-bs-target="#simpleNaverMap">
								Launch Simple Map
							</button>

							<!-- Naver Simple Map Modal -->
							<div class="modal fade text-left w-100" id="simpleNaverMap" tabindex="-1" role="dialog"
								aria-labelledby="simpleNaverMapTitle" aria-hidden="true">
								<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl"
									role="document">
									<div class="modal-content">
										<div class="modal-header">
											<h5 class="modal-title" id="simpleNaverMapTitle">
												Simple Naver Map
											</h5>
											<button type="button" class="close" data-bs-dismiss="modal"
												aria-label="Close">
												<i data-feather="x"></i>
											</button>
										</div>
										<div class="modal-body">
											<div id="simplemap" class="map"></div>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-light-secondary"
												data-bs-dismiss="modal">
												<i class="bx bx-x d-block d-sm-none"></i>
												<span class="d-none d-sm-block">Close</span>
											</button>
											<button type="button" class="btn btn-primary ms-1" data-bs-dismiss="modal">
												<i class="bx bx-check d-block d-sm-none"></i>
												<span class="d-none d-sm-block">Accept</span>
											</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Naver Geolocation Map -->
			<div class="col-md-6 col-12">
				<div class="card">
					<div class="card-header">
						<h4 class="card-title">Geolocation</h4>
					</div>
					<div class="card-content">
						<div class="card-body">
							<p>This is the Geolocation Map</p>
							<p><a
									href="https://navermaps.github.io/maps.js.ncp/docs/tutorial-6-map-geolocation.example.html">documentation</a>
							</p>
							<!-- button trigger for  Vertically Centered modal -->
							<button type="button" class="btn btn-outline-success" data-bs-toggle="modal"
								data-bs-target="#geolocationNaverMap">
								Launch Geolocation Map
							</button>

							<!-- Naver Coordinates Map Modal -->
							<div class="modal fade text-left w-100" id="geolocationNaverMap" tabindex="-1" role="dialog"
								aria-labelledby="geolocationNaverMapTitle" aria-hidden="true">
								<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl"
									role="document">
									<div class="modal-content">
										<div class="modal-header bg-successr">
											<h5 class="modal-title white" id="geolocationNaverMapTitle">
												Geolocation
											</h5>
											<button type="button" class="close" data-bs-dismiss="modal"
												aria-label="Close">
												<i data-feather="x"></i>
											</button>
										</div>
										<div class="modal-body">
											<div id="geolocation" class="map"></div>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-light-secondary"
												data-bs-dismiss="modal">
												<i class="bx bx-x d-block d-sm-none"></i>
												<span class="d-none d-sm-block">Close</span>
											</button>
											<button type="button" class="btn btn-success ms-1" data-bs-dismiss="modal">
												<i class="bx bx-check d-block d-sm-none"></i>
												<span class="d-none d-sm-block">Accept</span>
											</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Naver Simple Marker Map -->
			<div class="col-md-6 col-12">
				<div class="card">
					<div class="card-header">
						<h4 class="card-title">Simple Marker</h4>
					</div>
					<div class="card-content">
						<div class="card-body">
							<p>This is the Simple Marker</p>
							<p><a
									href="https://navermaps.github.io/maps.js.ncp/docs/tutorial-1-marker-simple.example.html">documentation</a>
							</p>
							<!-- button trigger for  Vertically Centered modal -->
							<button type="button" class="btn btn-outline-danger" data-bs-toggle="modal"
								data-bs-target="#simplemarkerNaverMap">
								Launch Simple Marker Map
							</button>

							<!-- Naver Advanced Marker Map Modal -->
							<div class="modal fade text-left w-100" id="simplemarkerNaverMap" tabindex="-1"
								role="dialog" aria-labelledby="simplemarkerNaverMapTitle" aria-hidden="true">
								<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl"
									role="document">
									<div class="modal-content">
										<div class="modal-header bg-danger">
											<h5 class="modal-title white" id="simplemarkerNaverMapTitle">
												Simple Marker
											</h5>
											<button type="button" class="close" data-bs-dismiss="modal"
												aria-label="Close">
												<i data-feather="x"></i>
											</button>
										</div>
										<div class="modal-body">
											<div id="simplemarker" class="map"></div>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-light-secondary"
												data-bs-dismiss="modal">
												<i class="bx bx-x d-block d-sm-none"></i>
												<span class="d-none d-sm-block">Close</span>
											</button>
											<button type="button" class="btn btn-danger ms-1" data-bs-dismiss="modal">
												<i class="bx bx-check d-block d-sm-none"></i>
												<span class="d-none d-sm-block">Accept</span>
											</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Naver Map Showing Infowindow -->
			<div class="col-md-6 col-12">
				<div class="card">
					<div class="card-header">
						<h4 class="card-title">Showing Infowindow</h4>
					</div>
					<div class="card-content">
						<div class="card-body">
							<p>This is the Infowindow</p>
							<p><a
									href="https://navermaps.github.io/maps.js.ncp/docs/tutorial-1-infowindow-simple.example.html">documentation</a>
							</p>
							<!-- button trigger for  Vertically Centered modal -->
							<button type="button" class="btn btn-outline-info" data-bs-toggle="modal"
								data-bs-target="#infowindowNaverMap">
								Launch Interactive Marker Map
							</button>

							<!-- Naver Interacive Markers using HTML and CSS Modal -->
							<div class="modal fade text-left w-100" id="infowindowNaverMap" tabindex="-1"
								role="dialog" aria-labelledby="infowindowNaverMapTitle" aria-hidden="true">
								<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl"
									role="document">
									<div class="modal-content">
										<div class="modal-header bg-info">
											<h5 class="modal-title white" id="infowindowNaverMapTitle">
												Showing Infowindow
											</h5>
											<button type="button" class="close" data-bs-dismiss="modal"
												aria-label="Close">
												<i data-feather="x"></i>
											</button>
										</div>
										<div class="modal-body">
											<div id="infowindowmap" class="map"></div>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-light-secondary"
												data-bs-dismiss="modal">
												<i class="bx bx-x d-block d-sm-none"></i>
												<span class="d-none d-sm-block">Close</span>
											</button>
											<button type="button" class="btn btn-info ms-1" data-bs-dismiss="modal">
												<i class="bx bx-check d-block d-sm-none"></i>
												<span class="d-none d-sm-block">Accept</span>
											</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Naver Map Marker Clustering -->
			<div class="col-md-6 col-12">
				<div class="card">
					<div class="card-header">
						<h4 class="card-title">Marker Clustering</h4>
					</div>
					<div class="card-content">
						<div class="card-body">
							<p>This is the Marker Clustering</p>
							<p><a
									href="https://navermaps.github.io/maps.js.ncp/docs/tutorial-marker-cluster.example.html">documentation</a>
							</p>
							<!-- button trigger for  Vertically Centered modal -->
							<button type="button" class="btn btn-outline-warning" data-bs-toggle="modal"
								data-bs-target="#markerclusteringNaverMap">
								Launch Marker Clustering Map
							</button>

							<!-- Naver Interacive Markers using HTML and CSS Modal -->
							<div class="modal fade text-left w-100" id="markerclusteringNaverMap" tabindex="-1"
								role="dialog" aria-labelledby="markerclusteringNaverMapTitle" aria-hidden="true">
								<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl"
									role="document">
									<div class="modal-content">
										<div class="modal-header bg-warning">
											<h5 class="modal-title white" id="markerclusteringNaverMapTitle">
												Marker Clustering
											</h5>
											<button type="button" class="close" data-bs-dismiss="modal"
												aria-label="Close">
												<i data-feather="x"></i>
											</button>
										</div>
										<div class="modal-body">
											<div id="markerclustering" class="map"></div>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-light-secondary"
												data-bs-dismiss="modal">
												<i class="bx bx-x d-block d-sm-none"></i>
												<span class="d-none d-sm-block">Close</span>
											</button>
											<button type="button" class="btn btn-warning ms-1" data-bs-dismiss="modal">
												<i class="bx bx-check d-block d-sm-none"></i>
												<span class="d-none d-sm-block">Accept</span>
											</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Naver Map markers Animation -->
			<div class="col-md-6 col-12">
				<div class="card">
					<div class="card-header">
						<h4 class="card-title">Markers Animation</h4>
					</div>
					<div class="card-content">
						<div class="card-body">
							<p>This is the Markers Animation</p>
							<p><a
									href="https://navermaps.github.io/maps.js.ncp/docs/tutorial-marker-animation.example.html">documentation</a>
							</p>
							<!-- button trigger for  Vertically Centered modal -->
							<button type="button" class="btn btn-outline-dark" data-bs-toggle="modal"
								data-bs-target="#animationNaverMap">
								Launch Marker Animation Map
							</button>

							<!-- Naver Interacive Markers using HTML and CSS Modal -->
							<div class="modal fade text-left w-100" id="animationNaverMap" tabindex="-1" role="dialog"
								aria-labelledby="animationNaverMapTitle" aria-hidden="true">
								<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl"
									role="document">
									<div class="modal-content">
										<div class="modal-header bg-dark">
											<h5 class="modal-title white" id="animationNaverMapTitle">
												Marker Animation
											</h5>
											<button type="button" class="close" data-bs-dismiss="modal"
												aria-label="Close">
												<i data-feather="x"></i>
											</button>
										</div>
										<div class="modal-body">
											<div id="animation" class="map"></div>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-light-secondary"
												data-bs-dismiss="modal">
												<i class="bx bx-x d-block d-sm-none"></i>
												<span class="d-none d-sm-block">Close</span>
											</button>
											<button type="button" class="btn btn-dark ms-1" data-bs-dismiss="modal">
												<i class="bx bx-check d-block d-sm-none"></i>
												<span class="d-none d-sm-block">Accept</span>
											</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</section>
	<!-- Basic Modals end -->
</div>
<footer th:replace="~{footer}"></footer>

<script src="assets/static/js/pages/nmap.js"></script>